

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.frame{
  display: grid;
  grid-template-columns: 6vw auto 50vw;
  grid-template-rows: 380px auto;

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
}

.frame > div{
  border: solid #42567a2f 0.1px;
}
